In [1]:
import json

In [2]:
from collections import Counter

In [3]:
import pandas as pd

In [9]:
with open('example_1.json', encoding='utf-8') as fh:
    data1 = json.load(fh)

In [10]:
with open('example_2.json', encoding='utf-8') as fh:
    data2 = json.load(fh)

In [11]:
lista = [data1,data2]

In [12]:
queries = []
for data in lista:
    keywords = ["select","from","where","join","on",'not in','group by']
    columns = [each["field"] for each in data["rules"]]
    query= ""
    query += keywords[0]
    query += " "

    for each in columns:
        if columns.index(each)<len(columns)-1:       
            query = query + each +","
        else:
            query = query + each +" "

    query += keywords[1]
    query += " "
    query += data["table"]
    query += " as "
    query += data["lable"]
    query += " "
    query += keywords[2]
    query += " "
    
    
    # adding rules
    for each in data['rules']:
        if data['rules'].index(each)!= len(data['rules'])-1:
            query = query + each["field"] + each["operator"] +each["value"]  + " " +str(data["condition"]).upper()+ " "
        else:
            query = query + each["field"] + each["operator"] +each["value"]  + " " 

    queries.append(query)

KeyError: 'lable'

In [8]:
queries

['select age,birthday from student as a where age<=50 AND birthday=2020-04-05T11:25:29.315Z ',
 'select science,maths from score as b where science<=50 AND maths=10 ']